body
{
background-position: center;
background-size: cover;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status , #number_of_objects
{
font-size: 20px;
}

canvas
{
box-shadow: 5px 5px 5px grey;
border-radius: 10px;
margin-top: 30px;
}
.copy_right_footer{
    position: fixed;
    background-color: rgb(70, 69, 69);
    color: White;
    line-height: 3;
    text-align: center;
    width: 100%;
    bottom: 0;
}